.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}
.nav-height {
  height:66px;
}
.logo {
  min-width: 10px;
  height : 5px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:white;
}
.images {
  /* background-image: url('image.jpeg'); */
  /* background-image:url("https://info.bigbelly.com/hubfs/Bigbelly%20Case%20Study%20-%20City%20of%20Newton%20-%20Photo%20-%201.jpg"); */
  background-image:url("./components/image.jpg");
  background-blend-mode: darken; 
 
  background-size: cover;
  height : 900px;
  
  /* background-color: rgba(0,0,0,0.5) */
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
